#======== File I/O ===============
InputFile                     : VerticalVideo_3d96_walk_1080x1920_30Hz_8bit_P420.yuv
InputBitDepth                 : 8          # Input bitdepth
InputChromaFormat             : 420         # Ratio of luminance to chrominance samples
FrameRate                     : 30          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 1080        # Input  frame width
SourceHeight                  : 1920        # Input  frame height
FramesToBeEncoded             : 300         # Number of frames to be coded
LastValidFrame                : 299

Level                         : 4.1
